{% extends 'base.html' %}

{% load static %}



{% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/about_page.css' %}"> 
{% endblock stylesheets %}


{% block content %}
 <div class="container">
  <div class="left">

  <h1>Introducing Web3 Forum</h1>
  <p>Welcome to our website! 

  <h1>Our Vision + Mission</h1>
  <p>Our Vision is ... 

  <h1>Our Team</h1>
  <p>This is our team!
  </div>

  <div class="images">
    <div class="right">
    <img src="{% static 'img/images.jpg' %}" alt="Image 1">
    <img src="{% static 'img/images.jpg' %}" alt="Image 2">
    <img src="{% static 'img/images.jpg' %}" alt="Image 3">
    </div>
  </div>
 </div>

{% endblock content %}


